.main-package {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
  width: 100%;

  position: relative;
}
.header-image {
  position: relative;
  display: block;

  margin: auto;
  background-color: hsl(0, 0%, 90%);
  transition: background-color 300ms;
  width: 99%;
  min-width: 200px;
  height: 862px;
  top: -1px;
  left: -12px;
}

.package-page {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #ffffff; /* Default to white */
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  margin-bottom: 2rem;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.package-link {
  position: absolute;
  top: 50px; /* Distance from top of image */
  left: 40%;
  transform: translateX(-50%);
  font-size: 30px;

  display: flex;
  gap: 1.5rem;
  background-color: rgba(0, 0, 0, 0); /* semi-transparent background */
  padding: 0.5rem 1rem;

  z-index: 2;
}

.package-link a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.package-link a:hover {
  color: #ffd700;
}
/* Mobile-Friendly */
@media (max-width: 600px) {
  .package-page {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .package-page a {
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }
}

.package-link-book {
  position: relative;
  top: 20px; /* adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 15px;
  font-size: 30px;
  padding: 1rem 1.5rem;
  margin-bottom: 70px;

  z-index: 2;
}
.package-link-book a {
  color: #0056b3;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.package-link-book a:hover {
  background: linear-gradient(to right, #ffe8cc, #fff4b3);
  color: #333;
}

.btn-book {
  display: flex;
  column-gap: 50px;
  border-radius: 50px;
}

.btn-book-edit,
.btn-book-delete {
  width: 100px;

  height: 40px;
  border-radius: 50px;
  font-size: 40px;
  text-align: center;
  margin-top: 16px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;

  transition: background-color 0.3s ease;
}
